<h1>クラス一覧</h1>

<span style="float: right">
		<%= link_to "クラスを追加",new_admins_class_name_path,
		class: "btn btn-success" %></span>

<table class="table table-hover table-inverse">
<thead>
	<th>クラス名</th>
	<th>園児名</th>
</thead>
<tbody>
  <% @class_names.each do |class_name| %>
  <tr>
	<td><%= class_name.name %></td>
	<% class_name.children.limit(5).each do |child| %>
	  <td><%= child.name %></td>
	<% end %>
	<td><%= link_to "詳細",admins_class_name_path(class_name.id),class: "btn btn-default" %></td>
  <% end %>
  </tr>
</tbody>