<h1>クラス詳細 <%= @class_name.name %></h1>
<table class="table table-hover table-inverse">
<thead>
	<th>園児名</th>
	<th>保護者名</th>
	<th></th>
</thead>
<tbody>
　<% @class_name.children.each do |child| %>
  <tr>
	<td><%= child.name %></td>
	<td><%= child.user.name %></td>
	<td><%= link_to "詳細",admins_child_path(child.id) %></td>
  <% end %>
  </tr>
</tbody>
</table>

