<h1>お知らせ詳細</h1>
<p>
<strong>投稿者</strong>
<%= @post.admin.name %>
</p>

<p>
<strong>タイトル</strong>
<%= @post.title %>
</p>

<p>
<strong>内容</strong>
<%= simple_format(@post.body) %>
</p>

<%= link_to "お知らせ一覧へ",posts_path,class: "btn btn-primary" %>
